@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: 'Irish Grover', cursive;
}

#app {
  font-family: 'Irish Grover', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

